body {
  font-family: sans-serif;
  margin: 0;
  padding-top: 60px;
  background: #fffdf1;
}


/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px;
  margin: 0;
  background: #fb57a2;
}

.logo {
  float: left;
  width: 120px;
  margin: 0;
  padding-right: 60px;
  font-size: 1em;
}


/* Filter */
.filter--list {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter--item {
  float: left;
  margin-left: 10px;
}

.filter--item a {
  color: #ff97c5;
  text-decoration: none;
}

.filter--item__active a {
  color: #ffe4f0;
}


/* Map */
.map--base {
  stroke: #808080;
}

.map--point {
   r: 3px;
   fill: #fb57a2;
   transition: all 0.5s;
 }

.map--point-label {
  font-size: 4px;
  text-anchor: middle;
  transform: translateY(1px);
  fill: #fff;
  transition: all 0.5s;
}


/* Utility */
.display-flex {
  display: flex;
}
